.searchBox {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.searchLabel {
  font-size: 18px;
  font-weight: 600;
  color: #004311;
}

.searchInput {
  height: 32px;
  width: 250px;
  font-size: 16px;
  padding-left: 8px;
}
