.userMenu {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #004311;
}

.username {
  font-style: italic;
}

.logoutBtn {
  font-size: 16px;
  color: white;
  background-color: #004311;
  border: none;
  border-radius: 8px;
  padding: 3px 20px;
}

.logoutBtn:hover,
.logoutBtn:focus {
  border: 1px solid rgb(38, 38, 38);
  background-color: #015014;
}
